.slider-bg{
    background-color: #FEEAE9;      

}
.watch-cat-bg{
    
background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.shoes-cat-bg{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.bags-cat-bg{
    
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.catagories img{
    width: 100px;
    height: 90px;
}

.btn-color{
    background-color: #ff4891;
}
/* contact section */

.contact-bg{
    background-color: #FEEAE9; 

}